*{
    margin: 0;
    padding: 0;

}

body{
    background-color: black;
}

.Conatainer_chart2{
    display: grid;
    
    grid-template-columns: 33,3% 33,3% 33,3%;
    grid-template-rows: 33,3% 33,3% 33,3%;
    align-items:center;
    align-content: center;
    margin-left: 14%;
 }

 .animal--img1{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    border-radius: 2;
    
}
    
.tenedor--img2{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: 2;
    
}

.persona--img3{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: 3;
}

.comida_bebida--img4{
    grid-column-start: 1;
    grid-row-start: 2;
}

.logo--img8{
    grid-column-start: 3;
    grid-row-start: 3;
    grid-column-end: 3;
}

.publicidad--img7{
    grid-column-start: 2;
    grid-row-start: 3 ;
    grid-column-end:3 ;
    border-radius: 2;
}

.logo{
    width: 12vw;
}

.comida_bebida{
    width: 12vw;
    height: 13vh;
}