@font-face {
    font-family: "Fontbold";
    src: url(./Fonts/Amazon\ Ember\ Bold.ttf);
  }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(./FondoTwitch.png);
    background-color: #000;
    overflow-x: hidden;
}

.Title1 {
    color: white;
    background-color:#00A8E1;
    height: 567px;
    width: 1200px;
    margin-left: 200px;
    margin-top: 300px;
    border-radius: 108px;
}

.LogoPrime {
    margin-top: -500px;
}